*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e8e8f1;
    transition: all 0.5s ease-out;
}
a{
    color: blue;
}
#header, #header-for-signup, #header-for-about, .header-for-jscourse, .header-for-java{
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 63, 145);
    transition: all 0.5s ease-out;
}
.div-logo{
    margin-top: -10px;
}
.logo-header-link{
    text-decoration: none;
    color: rgb(239, 247, 255);
    font-size: 40px;
}
.infinity-sign{
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Search box style: */
.search{
    width: 25vw;
    height: 45px;
    border-radius: 20px;
    border: 1px solid rgb(37, 37, 37);
    color: rgb(85, 85, 85);
    padding-left: 10px;
    font-size: 0.9em;
}
.magnifier-img{
    display: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
}
#dropdown-img{
    width: 20px;
    height: 20px;
}
.magnifier-search{
    display: none;
}

/* Design of the recommendation part when searchbox clicked */
.popular-searched-box{
    z-index: 1;
    display: none;
    position: absolute;
    margin-top: 2px;
    width: 25vw;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(133, 133, 133);
}
.popular-description{
    margin: 15px 0 10px 15px;
    font-size: 1.2em;
}
.divider{
    border: 0;
    height: 1px;
    width: 20vw;
    margin: auto;
    text-align: center;
    background-color: rgb(175, 175, 175);
}
.popular-searched-items li{
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
}
.popular-searched-items li:nth-child(1){
    margin-top: 15px;
}
li a.searched-item{
    font-weight: 350;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15vw 10px 0;
}
li a.searched-item:hover{
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
}

/* Navigation style: */
.navigation{
    width: 600px;
}
.navigation-lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    transition: transform 1s ease-out;
}
.navigation li a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(239, 247, 255);
    padding: 25px 30px;
    transition: all 0.3s ease-in;
}
.navigation li a:hover{
    background-color: rgb(0, 49, 114);
    text-decoration: underline;
}
li a.nav-link-login, .nav-link-signup{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}
li a.nav-link-signup{
    padding: 10px 25px;
    background-color: rgb(71, 71, 253);
}
li a.nav-link-login:hover{
    background-color: rgb(37, 26, 187);
}
.nav-link-signup:hover{
    background-color: rgb(0, 23, 124);
}

/* Design of Burger Navigation part: */
.burger-navigation{
    display: none;
    cursor: pointer;
}
.burger-navigation div{
    background-color: rgb(0, 0, 0);
    height: 3px;
    margin: 5px;
    border-radius: 15px;
}
.burger-navigation .line1{
    width: 25px;
}
.burger-navigation .line2{
    width: 17px;
}
.burger-navigation .line3{
    width: 20px;
}

/* Design of header part of website when the Width of The Website Shrinks and for Tablets: */
@media screen and (max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    .burger-navigation{
        display: inline-block;
        width: 25px;
    }
    .navigation{
        width: 25px;
        position: relative;
    }
    .navigation-lists{
        width: 250px;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 480px;
        right: 0;
        top: 70px;
        transform: translateX(110%);
        background-color: rgb(0, 63, 145);
        border-bottom-left-radius: 30px;
        z-index: 1;
    }
    li a.nav-link-categories, .nav-link-home{
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    li a.nav-link-home{
        padding: 45px 90px;
    }
    li a.nav-link-about-us{
        padding: 45px 70px;
    }
    li a.nav-link-categories{
        padding: 45px 60px;
    }
    .navigation-lists li:nth-child(1){
        margin-bottom: 40px;
    }
    .navigation-lists li:nth-child(2){
        margin-bottom: 50px;
    }
    .navigation-lists li:nth-child(4){
        margin-top: 40px;
    }
    .navigation-lists li:nth-child(5){
        margin-bottom: 40px;
    }
    .navigation-lists a{
        padding: 50px 80px;
    }
    .search, .popular-searched-box{
        width: 50vw;
    }
    .divider{
        width: 40vw;
    }
    .partners figure:nth-child(3){
        display: none;
    }
}
.burger-activate{
    transform: translateX(0%);
}

@media screen and (max-width: 768px){
    .magnifier-img{
        display: block;
    }
    .magnifier-search{
        display: flex;
        top: 100px;
        position: absolute;
    }
    .search{
        display: none;
    }
    .div-logo{
        order: 2;
    }
    .search-box{
        order: 1;
    }
    .navigation{
        order: 3;
    }
    .partners figure:nth-child(2){
        display: none;
    }
    .explore-block .explore-link:last-child{
        display: inline;
    }
    .contacts-block{
        display: none;
    }
    .follow-block{
        margin-top: 20px;
    }
}

/* Design of main part of the website */
.introduction-block, .about-intro-block{
    width: 100%;
    height: 75vh;
    overflow: hidden;
    background-image: url('/images/students.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slogan-section, #about-us-heading{
    margin-top: 20vh;
    margin-left: 10vw;
    color: white;
}
.slogan{
    font-size: 3.4em;
}
.slogan-description{
    margin-top: 10px;
    font-weight: 300;
    width: 43vw;
    font-size: 1.5em;
}
@media screen and (max-width: 450px){
    .introduction-block{
        height: 60vh;
    }
    .slogan-section{
        margin-top: 15vh;
    }
    .slogan{
        font-size: 2.1em;
    }
    .slogan-description{
        font-size: 1.2em;
        width: 70vw;
    }
}

.popular-courses-main-box{
    display: flex;
    justify-content: center;
    font-family: 'Fira Mono', monospace;
}
.courses-textbox{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 85%;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
.courses-textbox:hover{
    background-color: rgb(2, 74, 168);
}
.popular-courses-textbox img{
    margin-top: 5px;
}
.popular-courses-heading{
    margin-right: 30vw;
    width: 300px;
}
.popular-courses-heading:hover{
    text-decoration: underline;
}
.popular-courses-block{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
}

/* Courses block styling */
.section-block, .section-block2 {
    display: block;
    width: 317px;
    margin-top: 20px;
    padding: 30px 30px 20px 30px;
    background-color: white;
    border: 3px solid rgb(0, 63, 145);
    border-radius: 15px;
    text-align: center;
    transition: border-radius 0.8s 0s ease-out;
    box-shadow: 0px 1px 7px 3px rgba(112, 112, 112, 0.9);
}
.section-block:hover, .section-block2:hover{
    box-shadow: 0px 1px 7px 3px rgba(66, 66, 66, 0.9);
    border-radius: 35px;
    transition: border-radius 0.5s 0s ease-in;
}
.section-block h3, .section-block2 h3{
  margin: 10px 0;
  font-size: 1.8em;
}
h3 .course-name{
    text-decoration: none;
    color: black;
}
h3 .course-name:hover{
    text-decoration: underline;
}
#python-img, .english-img{
    margin-top: 20px;
}
.english-img{
    width: 150px;
    height: 100px;
}
#algebra-img{
    width: 110px;
    height: 100px;
}
.css-img{
    width: 120px;
    height: 120px;
}
#python-img{
    width: 120px;
    height: 90px;
}
#js-img{
    width: 105px;
    height: 90px;
}
.java-img{
    width: 150px;
    height: 120px;
}
.description{
    font-size: 20px;
    margin-top: 20px;
}
.description:hover{
  cursor: pointer;
  text-decoration: underline;
}
article p{
    margin-bottom: 10px;
}

.partner-divider-line{
    margin-top: 100px;
    border: 0;
    height: 1.5px;
    width: 80vw;
    border-radius: 5px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
.partners-block{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(46, 112, 199);
    font-family: 'Ubuntu', sans-serif;
}
.partners-block h2{
    font-size: 2em;
    margin-top: 5px;
}
.partners-block p{
    margin-top: 30px;
    font-size: 1em;
    text-align: center;
}
#partners-paragraph-link{
    color: blue;
}
#partners-paragraph-link:hover{
    color: rgb(255, 255, 255);
}
.partners{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.partners img{
    width: 250px;
    height: 80px;
    margin-top: 80px;
}
figcaption{
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
}
figcaption a{
    text-decoration: none;
    color: black;
}
figcaption a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.free-courses-block{
    display: flex;
    justify-content: center;
    font-family: 'Fira Mono', monospace;
    margin-top: 100px;
}
.courses-block{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
}
.free-courses-textblock img{
    margin-right: 10px;
    margin-top: 5px;
}
.free-courses-heading{
    margin-left: 10px;
}

/* Footer part style */
footer{
    margin-top: 80px;
    width: 100%;
    height: 80%;
    background-color: rgb(29, 27, 27);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
footer h5{
    font-size: 1em;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
#website-name-for-footer{
    font-size: 4em;
}
.additional-info-block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}
.follow-link{
    color: white;
}
.additional-info-block h4{
    font-size: 2em;
}
.email a{
    text-decoration: none;
    color: white;
}
.email a:hover{
    text-decoration: underline;
}
.explore-link{
    margin: 15px 0;
    display: flex;
    text-decoration: none;
    color: white;
}
.explore-link:last-child{
    display: none;
}
.explore-link:hover{
    text-decoration: underline;
}
.contacts-block p{
    margin: 25px 0;
}
.copyright-header{
    font-size: 0.8em;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 50px;
}
#dark-light-box button{
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 5px;
    border: 0;
}
#dark-light-box p{
    text-align: center;
    margin-bottom: 15px;
}

/* Sign Up Design */
#header-for-signup{
    position: static;
}

#sign-up-parent-block{
    display: flex;
    width: 100%;
}
#welcome-block{
    display: none;
    width: 60vw;
    height: 400px;
    margin: 100px 20vw;
    background-color: white;
    text-align: center;
    font-size: 2.7em;
}
.left-side-block{
    width: 50%;
    height: 88vh;
    background-color: rgb(101, 156, 228);
}
.main-section{
    width: 60%;
    margin-top: 30vh;
    margin-left: 5vw;
}
.main-section .main-heading{
    font-size: 5rem;
}
.main-section .main-heading-paragraph{
    margin-top: 10px;
    font-size: 25px;
}
.right-side-block{
    position: absolute;
    right: 0;
    width: 60%;
    height: 88vh;
    background-color: aliceblue;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 0;
}
.account-block{
    position: relative;
    margin-top: 5vh;
    margin-left: 15%;
    width: 70%;
}
.account-block h2{
    text-align: center;
    margin-bottom: 10px;
}
div #sign-up-form{
    display: flex;
    flex-direction: column;
}
#sign-up-form input{
    padding: 10px 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 10px 0;
    border: none;
    border-bottom: 1px solid rgb(129, 128, 128);
    background-color: aliceblue;
    color: rgb(129, 128, 128);
}
#sign-up-form input:focus{
    outline: none;
}
#sign-up-form button{
    cursor: pointer;
    font-size: 20px;
    width: 30vw;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 0 10px 0;
    margin: 10px auto 0 auto;
    border-radius: 20px;
    border: none;
    background-color: rgb(101, 156, 228);
    color: white;
}
#sign-up-form button:focus{
    background-color: rgb(75, 143, 233);
}
.or-block{
    width: 40px;
    font-size: 30px;
    margin: 10px auto 10px auto;
    color: grey;
    font-weight: 300;
    text-transform: uppercase;
}
.sign-up-options{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sign-up-options button{
    margin-top: 5px;
    width: 150px;
    padding: 5px 0 5px 3px;
    border-radius: 5px;
    border: 1px solid rgb(129, 128, 128);
    background-color: aliceblue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-options button:hover{
    transition: all 0.5s ease-in;
    background-color: rgb(101, 156, 228);
    border: 1px solid rgb(1, 91, 207);
    color: white;
}
.have-account{
    margin-top: 20px;
    color: rgb(53, 52, 52);
    font-weight: 300;
}
@media screen and (max-width: 900px) {
    .left-side-block{
        display: none;
    }
    .right-side-block{
        width: 100%;
        border-radius: 30px;
    }
    #welcome-block{
        font-size: 2.5em;
    }
    .section-block, .section-block2{
        width: 280px;
    }
    .students-block, .about-block{
        flex-wrap: wrap;
    }
    .students-block img{
        margin: 0 auto;
    } 
    .about-block img{
        margin: 0 auto;
    }
    .students-block img{
        order: 1;
    }
    .article-block{
        order: 2;
    }
    .article-block h2{
        text-align: center;
    }
}

/* About Us part */
#about-us-heading{
    font-size: 5em;
}
.students-block, .about-block{
    margin: 50px 30px 0 20px;
    margin-top: 50px;
    margin-right: 30px;
    display: flex;
    position: relative;
}
.students-block img{
    order: 2;
}
.about-images{
    width: 470px;
    height: 420px;
    border-radius: 50%;
}
.teachers-block{
    display: flex;
    justify-content: space-around;
}
.teachers-block img{
    width: 210px;
    height: 220px;
    border-radius: 50%;
} 
.article-block{
    margin: 0 20px;
    margin-top: 80px;
}
.article-block h2{
    margin-bottom: 30px;
    font-size: 40px;
}
.article-block p {
    font-weight: 300;
}
.read{
    display: none;
}
#teachers{
    font-size: 46px;
    text-align: center;
    margin: 30px 0 40px 0;
}
.teachers-block h4{
    margin-top: 10px;
    text-align: center;
}
.review-block{
    margin-top: 50px;
    width: 100%;
}
.review-block h3{
    text-align: center;
    font-size: 36px;
}
.review-block form{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.review-block p{
    margin-left: 5%;
    font-size: 20px;
}
.review-block #review-text{
    resize: none;
    width: 70%;
    border-radius: 20px;
    border: 1px solid black;
    padding-top: 2px;
    padding-left: 10px;
    font-family: sans-serif;
}
.review-block #submit-button{
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(70, 69, 69);
}
#reviews{
    display: none;
    color: white;
    margin: 30px 30px 30px 50px;
    padding: 20px 10px 20px 10px;
    background-color: rgb(29, 27, 27);
    border-radius: 30px;
}
@media screen and (max-width: 800px){
    .about-images{
        width: 400px;
        height: 380px;
    }
    .teacher3{
        display: none;
    }
    .review-block #review-text{
        width: 70%;
    }
}
@media screen and (max-width: 650px) {
    .about-images{
        width: 350px;
        height: 320px;
    }
}

/* JavaScript course styling */
header.header-for-jscourse{
    position:fixed;
}
.js-course-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-description-box img{
    width: 180px;
    height: 190px;
}
.course-description-box{
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
}
.lessons-box{
    margin-left: 50px;
    position: relative;
    word-wrap: break-word;
}
.paragraph{
    padding-top: 40px;
    margin-left: 40px;
    width: 70%;
}
#js-heading{
    overflow: hidden;
    text-align: center;
    padding-top: 90px;
    font-size: 2.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p#description-p, p#text-p{
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 20px;
}
#vars, #loops, #conditions{
    width: 85%;
    height: 35px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 1.5rem;
}
#vars:hover, #loops:hover, #conditions:hover{
    color: white;
    background-color: rgb(2, 74, 168);
}
#variables-box{
    display: none;
    margin-top: 10px;
    width: 90%;
    border: 1.5px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(157, 180, 211);
}
code{
    color: red;
}
#variables-box h4{
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 20px 0;
}
#variables-box h5{
    font-size: 1.8rem;
    margin-left: 15px;
    margin-bottom: 10px;
}
#variables-box p{
    width: 90%;
    margin: 0 auto 20px auto;
    font-size: 1.2rem;
}
#var-list{
    margin-left: 50px;
    font-size: 1.15rem;
}
#var-list li{
    margin-top: 20px;
}
@media screen and (max-width: 1190px) {
    #js-section{
        width: 100%;
        text-align: center;
    }
    .course-description-box{
        display: none;
    }
}

/* Java Course Style */
header.header-for-java{
    position: fixed;
    top: 0px;
}
div.payment-box{
    width: 48%;
    height: 420px;
    margin-top: 100px;
    margin-left: 25vw;
    background-color: rgb(211, 212, 212);
}
.payment-box h1{
    text-align: center;
    margin: 20px 0;
}
#card-form{
    margin-left: 20px;
}
#card-form label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
#card-number{
    width: 95%;
    padding: 8px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgb(122, 121, 121);
    font-size: 20px;
}
#card-form input{
    color: rgb(85, 85, 85);
}
#cvv,#card-holder, #ex-date{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(39, 39, 39);
}
input#cvv{
    width: 50%;
}
.payment-box p{
    margin-top: 30px;
}
#form2{
    display: flex;
    justify-content: space-around;
}
#form2 input{
    margin-top: 20px;
    width: 200px;
}
.button-block{
    width: 100%;
}
#buy-button{
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    height: 45px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    border: none;
    background-color: rgb(101, 156, 228);
    color: white;
}